.dropify-wrapper {
    display: block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 200px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 22px;
    color: #777;
    background-color: #FFF;
    background-image: none;
    text-align: center;
    border: 2px solid #E5E5E5;
    -webkit-transition: border-color .15s linear;
    transition: border-color .15s linear;
}

.dropify-wrapper:hover {
    background-size: 30px 30px;
    background-image: -webkit-linear-gradient(135deg, #F6F6F6 25%, transparent 25%, transparent 50%, #F6F6F6 50%, #F6F6F6 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, #F6F6F6 25%, transparent 25%, transparent 50%, #F6F6F6 50%, #F6F6F6 75%, transparent 75%, transparent);
    -webkit-animation: stripes 2s linear infinite;
    animation: stripes 2s linear infinite;
}

.dropify-wrapper.has-preview .dropify-preview {
    display: block;
}

.dropify-wrapper.has-error .dropify-error {
    display: block;
}

.dropify-wrapper.disabled input {
    cursor: not-allowed;
}

.dropify-wrapper.disabled:hover {
    background-image: none;
    -webkit-animation: none;
    animation: none;
}

.dropify-wrapper.disabled .dropify-message {
    opacity: 0.5;
    text-decoration: line-through;
}

.dropify-wrapper.disabled .dropify-infos-message {
    display: none;
}

.dropify-wrapper input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
}

.dropify-wrapper .dropify-message {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.dropify-wrapper .dropify-message span.file-icon {
    font-size: 50px;
    color: #CCC;
}

.dropify-wrapper .dropify-message p {
    margin: 5px 0 0 0;
}

.dropify-wrapper .dropify-message p.dropify-error {
    color: #F34141;
    font-weight: bold;
    display: none;
}

.dropify-wrapper .dropify-clear {
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 7;
    top: 10px;
    right: 10px;
    background: none;
    border: 2px solid #FFF;
    text-transform: uppercase;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
    font-size: 11px;
    padding: 4px 8px;
    font-weight: bold;
    color: #FFF;
    -webkit-transition: all .15s linear;
    transition: all .15s linear;
}

.dropify-wrapper .dropify-clear:hover {
    background: rgba(255, 255, 255, 0.2);
}

.dropify-wrapper .dropify-preview {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #FFF;
    padding: 5px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
}

.dropify-wrapper .dropify-preview .dropify-render img {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
    max-width: 100%;
    max-height: 100%;
    background-color: #FFF;
    -webkit-transition: border-color .15s linear;
    transition: border-color .15s linear;
}

.dropify-wrapper .dropify-preview .dropify-infos {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
    color: #FFF;
    text-align: center;
}

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p {
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    line-height: 25px;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
}

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-filename span.file-icon {
    margin-right: 2px;
}

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message {
    margin-top: 15px;
    padding-top: 15px;
    font-size: 12px;
    position: relative;
    opacity: 0.5;
}

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #FFF;
    width: 30px;
    height: 2px;
}

.dropify-wrapper:hover .dropify-clear,
.dropify-wrapper:hover .dropify-preview .dropify-infos {
    opacity: 1;
}

.dropify-wrapper:hover .dropify-clear {
    display: block;
}