/* Bu fayl admin paneli üçün xüsusi stilləri saxlayır */
/* Rəng və digər dizayn dəyişiklikləri indi style.css-də tətbiq olunur */

.f-11 {
    background-color: #66bb6a !important;
}
.f-12{
    background-color: #78909c !important;
}
.f-status {
    padding: 6px 5px 8px 21px;
    background-color: #ccc;
    border-radius: 5px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    position: relative;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}
.f-status:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    width: 12px;
    height: 12px;
    display: block;
    background-size: cover;
}
.f-11:before {
    content: "";
    background-image: url(https://cdn.ainsyndication.com/front/images/success.svg?V6);
    width: 14px;
    height: 14px;
    margin-right: 2px;
}
.f-12:before {
    content: "";
    background-image: url(https://cdn.ainsyndication.com/front/images/pending.svg?V6);
    width: 14px;
    height: 14px;
    margin-right: 2px;
}
.f-10:before {
    content: "";
    background-image: url(/site/images/disable4.svg?V7);
    width: 14px;
    height: 13px;
    object-fit: cover;
    margin-right: 2px;
}
.f-9:before {
    content: "";
    background-image: url(/site/images/time-out2.svg?V7);
    width: 14px;
    height: 14px;
    object-fit: cover;
    margin-right: 2px;
}
.f-8:before {
    content: "";
    background-image: url(/site/images/draft2.svg?V7);
    width: 14px;
    height: 14px;
    object-fit: cover;
    margin-right: 2px;
}
.f-7:before {
    content: "";
    background-image: url(/site/images/deleted.svg?V2);
    width: 14px;
    height: 14px;
    object-fit: cover;
    margin-right: 2px;
}
.red{
    background: #D10000;
}
.red1{
    background: #FF0000;
}
.draft{
    background: #E0EEFF;
    color: #052C5E;
}
.time_out{
    background: #FEF7DE;
    color: #45350E;
}
.deactive{
    background: #E6E6E6;
    color: #9C9C9C;
}
.deleted{
    background: #FDD9D9;
    color: #570407;
}

.f-9:before {
    content: "";
    background-image: url(/site/images/time-out2.svg?V7);
    width: 14px;
    height: 14px;
    object-fit: cover;
    margin-right: 2px;
}
.f-status {
    padding: 6px 5px 8px 21px;
    background-color: #ccc;
    border-radius: 5px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    position: relative;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}
.time_out {
    background: #FEF7DE;
    color: #45350E;
}
