.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 48px;
    padding-top: 8px;
}
.margin-top-90{
    margin-top: 90px;
}
.overflow-hidden{
    overflow: hidden;
}
.margin-botttom-50{
    margin-bottom: 50px;
}

.sidebar-widget input {
    margin-bottom: 0
}

.sidebar-widget {
    margin-bottom: 50px;
    display: block
}

.sidebar-widget h3 {
    font-size: 20px;
    margin-bottom: 20px
}
.full-page-sidebar .sidebar-widget:last-of-type {
    margin-bottom: 80px
}

