.GrayToBlue {
    color: #777777;
}

.GrayToBlue:hover {
    color: #111111;
}

.LinkDark {
    color: #111111;
}

#titlebar {
    background-color: #f8f8f8;
    position: relative;
    padding: 70px 0;
    margin-bottom: 65px
}

#titlebar.gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .03) 0, rgba(255, 255, 255, 0));
    padding-bottom: 0
}

#titlebar.white {
    background: #fff;
    padding-bottom: 0
}

#titlebar.transparent {
    background: 0 0
}

#titlebar span,
#titlebar span a {
    font-size: 20px;
    color: #888;
    margin-bottom: 3px;
    margin-top: 3px;
    display: block
}

#titlebar #breadcrumbs span {
    font-size: 14px
}

#titlebar h1,
#titlebar h2 {
    font-size: 30px;
    line-height: 40px;
    margin: 1px 0 3px 0
}


.compact-list-layout {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .12)
}

.compact-list-layout .job-listing {
    box-shadow: none;
    margin-bottom: 0;
    padding: 30px 35px;
    padding-right: 80px;
    border-radius: 0
}

.compact-list-layout .job-listing:last-of-type {
    border-radius: 0 0 3px 3px;
    overflow: hidden
}

.compact-list-layout .job-listing:first-of-type {
    border-radius: 3px 3px 0 0;
    overflow: hidden
}

.compact-list-layout .job-listing h3 {
    font-size: 18px;
    line-height: 28px
}

.compact-list-layout .job-listing:nth-child(2n) {
    background-color: #fafafa
}

.compact-list-layout .job-listing:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    display: block;
    background: #66676b;
    transition: .3s;
    opacity: 0
}

.compact-list-layout .job-listing:hover:before {
    opacity: 1
}

.compact-list-layout .job-listing:hover {
    transform: none
}

.compact-list-layout .job-listing .job-listing-footer {
    background-color: transparent;
    padding: 0;
    margin-top: 3px
}

.compact-list-layout .job-listing-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    top: 0
}

.compact-list-layout .job-listing .job-listing-company-logo {
    max-width: 50px;
    margin-right: 30px;
    top: 0
}

.compact-list-layout .job-listing .verified-badge {
    transform: scale(.85) translate(8px, 8px)
}

.compact-list-layout .job-listing h3 .verified-badge {
    transform: scale(.85) translate(0, 0);
    font-weight: 500;
    top: 1px
}

.compact-list-layout .job-listing h3 .verified-badge:before {
    top: -1px
}

.compact-list-layout .job-listing span.bookmark-icon {
    top: 50%;
    transform: translateY(-51%)
}

.compact-list-layout .job-listing.with-apply-button {
    position: relative;
    padding-right: 35px
}

.margin-top-35{
    margin-top: 35px;
}
.margin-bottom-35{
    margin-bottom: 35px;
}
.single-page-section .job-listing h3.job-listing-title {
    margin-bottom: 0
}

@media (max-width:3860px) {
    .full-page-content-inner .grid-layout .job-listing {
        width: calc(100% * (1 / 4) - 30px)
    }
    .full-page-container.with-map .full-page-content-inner .grid-layout .job-listing {
        width: calc(100% * (1 / 3) - 30px)
    }
}

@media (max-width:2560px) {
    .full-page-content-inner .grid-layout .job-listing {
        width: calc(100% * (1 / 4) - 30px)
    }
    .full-page-container.with-map .full-page-content-inner .grid-layout .job-listing {
        width: calc(100% * (1 / 2) - 30px)
    }
}

@media (max-width:1920px) {
    .full-page-content-inner .grid-layout .job-listing {
        width: calc(100% * (1 / 3) - 30px)
    }
    .full-page-container.with-map .full-page-sidebar {
        flex: 0 0 340px
    }
    .full-page-container.with-map .full-page-sidebar .full-page-sidebar-inner {
        width: 340px
    }
    .full-page-container.with-map .full-page-content-inner .grid-layout .job-listing {
        width: calc(100% * (1 / 2) - 30px)
    }
}

@media (max-width:1600px) {
    .full-page-content-inner .grid-layout .job-listing {
        width: calc(100% * (1 / 2) - 30px)
    }
    .full-page-sidebar {
        flex: 0 0 340px
    }
    .full-page-container.with-map .full-page-sidebar {
        flex: 0 0 320px
    }
    .full-page-container.with-map .full-page-sidebar .full-page-sidebar-inner {
        width: 320px
    }
    .full-page-container.with-map .full-page-content-inner .grid-layout .job-listing {
        width: calc(100% - 30px)
    }
    .full-page-container.with-map .full-page-content-container {
        flex: 0 0 55vw
    }
}

.job-listing {
    display: block;
    border-radius: 4px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .12);
    margin-bottom: 35px;
    background-color: #fff;
    transition: .3s;
    position: relative
}


.job-listing-details {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 35px;
    padding-bottom: 32px
}

.job-listing .job-listing-company-logo {
    flex: 1;
    max-width: 55px;
    margin-right: 25px;
    position: relative;
    top: 3px
}

.job-listing .job-listing-company-logo img {
    border-radius: 4px;
    transform: translate3d(0, 0, 0)
}

.job-listing .job-listing-description {
    flex: 1;
    padding-top: 3px
}

.job-listing .job-listing-description p {
    margin: 15px 0 0 0;
    padding: 0;
    color: #666
}

.job-listing h4.job-listing-company {
    font-size: 16px;
    color: grey
}

.job-listing h3.job-listing-title {
    font-size: 20px;
    color: #333;
    line-height: 30px
}

.job-listing .job-listing-footer {
    background-color: #f9f9f9;
    padding: 20px 35px;
    border-radius: 0 0 4px 4px;
    position: relative
}

.job-listing .job-listing-footer ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.job-listing .job-listing-footer ul li {
    display: inline-block;
    margin-right: 14px;
    color: #777
}

.job-listing .job-listing-footer ul li:last-child {
    margin-right: 0
}

.job-listing .job-listing-footer ul li i.icon-material-outline-location-on {
    margin-right: 0
}

.job-listing .job-listing-footer ul li i {
    position: relative;
    top: 1px;
    margin-right: 3px;
    color: #777
}

@media (max-width:768px) {
    .job-listing .job-listing-company-logo {
        display: none
    }
    .job-listing .job-listing-title {
        padding-right: 10%
    }
}

.compact-list-layout {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .12)
}

.compact-list-layout .job-listing {
    box-shadow: none;
    margin-bottom: 0;
    padding: 30px 35px;
    padding-right: 80px;
    border-radius: 0
}

.compact-list-layout .job-listing:last-of-type {
    border-radius: 0 0 3px 3px;
    overflow: hidden
}

.compact-list-layout .job-listing:first-of-type {
    border-radius: 3px 3px 0 0;
    overflow: hidden
}

.compact-list-layout .job-listing h3 {
    font-size: 18px;
    line-height: 28px
}

.compact-list-layout .job-listing:nth-child(2n) {
    background-color: #fafafa
}

.compact-list-layout .job-listing:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    display: block;
    background: #66676b;
    transition: .3s;
    opacity: 0
}

.compact-list-layout .job-listing:hover:before {
    opacity: 1
}

.compact-list-layout .job-listing:hover {
    transform: none
}

.compact-list-layout .job-listing .job-listing-footer {
    background-color: transparent;
    padding: 0;
    margin-top: 3px
}

.compact-list-layout .job-listing-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    top: 0
}

.compact-list-layout .job-listing .job-listing-company-logo {
    max-width: 50px;
    margin-right: 30px;
    top: 0
}

.compact-list-layout .job-listing .verified-badge {
    transform: scale(.85) translate(8px, 8px)
}

.compact-list-layout .job-listing h3 .verified-badge {
    transform: scale(.85) translate(0, 0);
    font-weight: 500;
    top: 1px
}

.compact-list-layout .job-listing h3 .verified-badge:before {
    top: -1px
}

.compact-list-layout .job-listing span.bookmark-icon {
    top: 50%;
    transform: translateY(-51%)
}

.compact-list-layout .job-listing.with-apply-button {
    position: relative;
    padding-right: 35px
}

.list-apply-button {
    position: absolute;
    right: 0;
    padding: 10px 20px;
    line-height: 24px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    transition: all .3s;
    border-radius: 4px;
    background: #f0f0f0;
    color: #666;
    text-align: center
}

.job-listing.with-apply-button:hover .list-apply-button {
    background-color: #66676b;
    color: #fff;
    box-shadow: 0 4px 12px rgba(102, 103, 107, .15)
}

.boxed-list .compact-list-layout {
    box-shadow: none;
    margin-top: 0
}

.boxed-list .compact-list-layout .job-listing:hover {
    border-left: none
}

.boxed-list .compact-list-layout .job-listing:first-of-type {
    border-radius: 0
}

@media (max-width:768px) {
    .list-apply-button {
        flex: auto;
        width: 100%;
        margin-top: 15px
    }
}

.grid-layout {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 30px)
}

.grid-layout .job-listing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px 30px 0;
    width: calc(100% * (1 / 2) - 30px);
    flex-direction: column
}

.grid-layout .job-listing-details {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
    padding-right: 40px
}

@media screen and (-ms-high-contrast:active),
screen and (-ms-high-contrast:none) {
    .grid-layout .job-listing-details,
    .tasks-list-container.tasks-grid-layout .task-listing .task-listing-details {
        flex-basis: 100px
    }
    .tasks-list-container.tasks-grid-layout .task-listing-bid {
        flex-basis: 100px
    }
}

.grid-layout .job-listing-footer {
    flex-grow: 0;
    padding: 20px 30px
}

.grid-layout .job-listing h3.job-listing-title {
    font-size: 18px;
    line-height: 28px
}

.grid-layout .job-listing-footer .bookmark-icon {
    top: 0;
    right: 25px;
    transform: translateY(-50%) scale(.96)
}

.grid-layout .job-listing .job-listing-company-logo {
    max-width: 56px;
    margin-right: 24px;
    top: 1px;
    flex: 0 0 56px
}

@media (max-width:768px) {
    .full-page-content-inner .grid-layout .job-listing,
    .grid-layout .job-listing {
        margin: 0 0 30px 0;
        width: 100%
    }
    .full-page-content-inner .grid-layout,
    .grid-layout {
        width: 100%
    }
    .full-page-content-container .simplebar-content {
        overflow-x: hidden!important
    }
    .full-page-container.with-map .full-page-content-inner .grid-layout .job-listing {
        width: 100%
    }
}

.job-listing .job-listing-footer ul li .verified-badge,
.job-listing-company .verified-badge {
    position: relative;
    display: inline-block;
    transform: scale(.7);
    top: 2px;
    margin-left: -2px
}


.job-listing .job-listing-company-logo .verified-badge {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(7px, 7px)
}

.infoBox .job-listing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    box-shadow: none;
    width: 100%
}

.infoBox .job-listing .job-listing-description {
    padding-top: 0
}

.infoBox .job-listing:hover {
    transform: none
}

.infoBox .job-listing-details {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 25px
}

.infoBox .job-listing h4.job-listing-company {
    font-size: 14px;
    position: relative;
    top: 0
}

.infoBox .job-listing .verified-badge {
    transform: scale(.85);
    right: -7px;
    bottom: -7px
}

.infoBox .job-listing .not-verified-badge {
    display: none
}

.infoBox .job-listing-footer {
    flex-grow: 0;
    padding: 15px 25px;
    font-size: 16px;
    display: none
}

.infoBox .job-listing h3.job-listing-title {
    font-size: 16px;
    line-height: 24px
}

.infoBox .job-listing .job-listing-company-logo {
    max-width: 46px;
    margin: 5px 18px 5px 0;
    top: 0;
    flex: 0 0 46px
}

.infoBox .job-listing .job-listing-company-logo img {
    max-width: 46px
}
