nav.pagination ul li:nth-last-child(2){
    display: none;
}
nav.pagination ul li:nth-last-child(3){
    display: none;
}
nav.pagination ul li:nth-last-child(4){
    display: none;
}


#titlebar {
    background-color: #f8f8f8;
    position: relative;
    padding: 35px 0;
    margin-bottom: 10px;
}

#titlebar.gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .03) 0, rgba(255, 255, 255, 0));
    padding-bottom: 0
}

#titlebar.white {
    background: #fff;
    padding-bottom: 0
}

#titlebar.transparent {
    background: 0 0
}

#titlebar span,
#titlebar span a {
    font-size: 20px;
    color: #888;
    margin-bottom: 3px;
    margin-top: 3px;
    display: block
}

#titlebar #breadcrumbs span {
    font-size: 14px
}

#titlebar h1,
#titlebar h2 {
    font-size: 30px;
    line-height: 40px;
    margin: 1px 0 3px 0
}

#breadcrumbs {
    position: absolute;
    right: 15px;
    display: inline-block;
    font-size: 14.7px;
    top: 50%;
    transform: translateY(-51%);
    border-radius: 4px;
    font-weight: 600;
    color: #333;
    background-color: #f0f0f0
}

#breadcrumbs ul {
    margin: 0;
    padding: 12px 22px;
    line-height: 23px
}

#breadcrumbs ul li a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #666;
    font-weight: 500
}

#breadcrumbs ul li a:hover {
    color: #66676b
}

#breadcrumbs ul li {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 7px
}

#breadcrumbs ul li:first-child:before {
    display: none
}

#breadcrumbs ul li:first-child {
    margin-left: 0
}

#breadcrumbs ul li:before {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #aaa;
    font-size: 14px;
    margin-right: 12px
}

#breadcrumbs ul li.home-icon a {
    opacity: 1;
    font-size: 24px;
    top: 4px;
    position: relative;
    line-height: 0;
    padding: 0;
    display: inline-block
}

#breadcrumbs ul li.home-icon i {
    line-height: 0
}

#breadcrumbs.dark {
    color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
    background-color: #333
}

#breadcrumbs.dark ul li a,
#breadcrumbs.dark ul li a:hover {
    color: #fff
}

#breadcrumbs.dark ul li:before {
    border-left: 4px solid rgba(255, 255, 255, .3)
}

#breadcrumbs.white {
    color: #333;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
    background-color: #fff
}

#breadcrumbs.white ul li a {
    color: #666
}

#breadcrumbs.white ul li a:hover {
    color: #66676b
}

#breadcrumbs.white ul li:before {
    border-left: 4px solid rgba(0, 0, 0, .3)
}

.single-page-header #breadcrumbs {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    margin-left: auto
}

@media (max-width:992px) {
    .single-page-header #breadcrumbs {
        margin: 30px 0 20px 0
    }
}
.margin-top-35{
    margin-top: 35px;
}
.margin-bottom-35 {
    margin-bottom: 35px;
}


.compact-list-layout {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .12)
}

.compact-list-layout .job-listing {
    box-shadow: none;
    margin-bottom: 0;
    padding: 30px 35px;
    padding-right: 80px;
    border-radius: 0
}

.compact-list-layout .job-listing:last-of-type {
    border-radius: 0 0 3px 3px;
    overflow: hidden
}

.compact-list-layout .job-listing:first-of-type {
    border-radius: 3px 3px 0 0;
    overflow: hidden
}

.compact-list-layout .job-listing h3 {
    font-size: 18px;
    line-height: 28px
}

.compact-list-layout .job-listing:nth-child(2n) {
    background-color: #fafafa
}

.compact-list-layout .job-listing:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    display: block;
    background: #66676b;
    transition: .3s;
    opacity: 0
}

.compact-list-layout .job-listing:hover:before {
    opacity: 1
}

.compact-list-layout .job-listing:hover {
    transform: none
}

.compact-list-layout .job-listing .job-listing-footer {
    background-color: transparent;
    padding: 0;
    margin-top: 3px
}

.compact-list-layout .job-listing-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    top: 0
}

.compact-list-layout .job-listing .job-listing-company-logo {
    max-width: 50px;
    margin-right: 30px;
    top: 0
}

.compact-list-layout .job-listing .verified-badge {
    transform: scale(.85) translate(8px, 8px)
}

.compact-list-layout .job-listing h3 .verified-badge {
    transform: scale(.85) translate(0, 0);
    font-weight: 500;
    top: 1px
}

.compact-list-layout .job-listing h3 .verified-badge:before {
    top: -1px
}

.compact-list-layout .job-listing span.bookmark-icon {
    top: 50%;
    transform: translateY(-51%)
}

.compact-list-layout .job-listing.with-apply-button {
    position: relative;
    padding-right: 35px
}

.job-listing {
    display: block;
    border-radius: 4px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .12);
    margin-bottom: 35px;
    background-color: #fff;
    transition: .3s;
    position: relative
}


.job-listing-details {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 35px;
    padding-bottom: 32px
}

.job-listing .job-listing-company-logo {
    flex: 1;
    max-width: 55px;
    margin-right: 25px;
    position: relative;
    top: 3px
}

.job-listing .job-listing-company-logo img {
    border-radius: 4px;
    transform: translate3d(0, 0, 0)
}

.job-listing .job-listing-description {
    flex: 1;
    padding-top: 3px
}

.job-listing .job-listing-description p {
    margin: 15px 0 0 0;
    padding: 0;
    color: #666
}

.job-listing h4.job-listing-company {
    font-size: 16px;
    color: grey
}

.job-listing h3.job-listing-title {
    font-size: 20px;
    color: #333;
    line-height: 30px
}

.job-listing .job-listing-footer {
    background-color: #f9f9f9;
    padding: 20px 35px;
    border-radius: 0 0 4px 4px;
    position: relative
}

.job-listing .job-listing-footer ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.job-listing .job-listing-footer ul li {
    display: inline-block;
    margin-right: 14px;
    color: #777
}

.job-listing .job-listing-footer ul li:last-child {
    margin-right: 0
}

.job-listing .job-listing-footer ul li i.icon-material-outline-location-on {
    margin-right: 0
}

.job-listing .job-listing-footer ul li i {
    position: relative;
    top: 1px;
    margin-right: 3px;
    color: #777
}

@media (max-width:768px) {
    .job-listing .job-listing-company-logo {
        display: none
    }
    .job-listing .job-listing-title {
        padding-right: 10%
    }
}

.compact-list-layout {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .12)
}

.compact-list-layout .job-listing {
    box-shadow: none;
    margin-bottom: 0;
    padding: 20px 30px;
    padding-right: 80px;
    border-radius: 0;
}

.compact-list-layout .job-listing:last-of-type {
    border-radius: 0 0 3px 3px;
    overflow: hidden
}

.compact-list-layout .job-listing:first-of-type {
    border-radius: 3px 3px 0 0;
    overflow: hidden
}

.compact-list-layout .job-listing h3 {
    font-size: 18px;
    line-height: 28px
}

.compact-list-layout .job-listing:nth-child(2n) {
    background-color: #fafafa
}

.compact-list-layout .job-listing:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    display: block;
    background: #66676b;
    transition: .3s;
    opacity: 0
}

.compact-list-layout .job-listing:hover:before {
    opacity: 1
}

.compact-list-layout .job-listing:hover {
    transform: none
}

.compact-list-layout .job-listing .job-listing-footer {
    background-color: transparent;
    padding: 0;
    margin-top: 3px
}

.compact-list-layout .job-listing-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    top: 0
}

.compact-list-layout .job-listing .job-listing-company-logo {
    max-width: 50px;
    margin-right: 30px;
    top: 0
}

.compact-list-layout .job-listing .verified-badge {
    transform: scale(.85) translate(8px, 8px)
}

.compact-list-layout .job-listing h3 .verified-badge {
    transform: scale(.85) translate(0, 0);
    font-weight: 500;
    top: 1px
}

.compact-list-layout .job-listing h3 .verified-badge:before {
    top: -1px
}

.compact-list-layout .job-listing span.bookmark-icon {
    top: 50%;
    transform: translateY(-51%)
}

.compact-list-layout .job-listing.with-apply-button {
    position: relative;
    padding-right: 30px;
}

.list-apply-button {
    position: absolute;
    right: 0;
    padding: 10px 20px;
    line-height: 24px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    transition: all .3s;
    border-radius: 4px;
    background: #f0f0f0;
    color: #666;
    text-align: center
}

.job-listing.with-apply-button:hover .list-apply-button {
    background-color: #66676b;
    color: #fff;
    box-shadow: 0 4px 12px rgba(102, 103, 107, .15)
}

.boxed-list .compact-list-layout {
    box-shadow: none;
    margin-top: 0
}

.boxed-list .compact-list-layout .job-listing:hover {
    border-left: none
}

.boxed-list .compact-list-layout .job-listing:first-of-type {
    border-radius: 0
}

@media (max-width:768px) {
    .list-apply-button {
        flex: auto;
        width: 100%;
        margin-top: 15px
    }
}

.grid-layout {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 30px)
}

.grid-layout .job-listing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px 30px 0;
    width: calc(100% * (1 / 2) - 30px);
    flex-direction: column
}

.grid-layout .job-listing-details {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
    padding-right: 40px
}

@media screen and (-ms-high-contrast:active),
screen and (-ms-high-contrast:none) {
    .grid-layout .job-listing-details,
    .tasks-list-container.tasks-grid-layout .task-listing .task-listing-details {
        flex-basis: 100px
    }
    .tasks-list-container.tasks-grid-layout .task-listing-bid {
        flex-basis: 100px
    }
}

.grid-layout .job-listing-footer {
    flex-grow: 0;
    padding: 20px 30px
}

.grid-layout .job-listing h3.job-listing-title {
    font-size: 18px;
    line-height: 28px
}

.grid-layout .job-listing-footer .bookmark-icon {
    top: 0;
    right: 25px;
    transform: translateY(-50%) scale(.96)
}

.grid-layout .job-listing .job-listing-company-logo {
    max-width: 56px;
    margin-right: 24px;
    top: 1px;
    flex: 0 0 56px
}

@media (max-width:768px) {
    .full-page-content-inner .grid-layout .job-listing,
    .grid-layout .job-listing {
        margin: 0 0 30px 0;
        width: 100%
    }
    .full-page-content-inner .grid-layout,
    .grid-layout {
        width: 100%
    }
    .full-page-content-container .simplebar-content {
        overflow-x: hidden!important
    }
    .full-page-container.with-map .full-page-content-inner .grid-layout .job-listing {
        width: 100%
    }
}
.p-5{
    padding: 5px;
}
.sidebar-widget input {
    margin-bottom: 0
}

.sidebar-widget {
    margin-bottom: 50px;
    display: block
}

.sidebar-widget h3 {
    font-size: 20px;
    margin-bottom: 20px
}
.margin-top-25{
    margin-top: 25px;
}
.margin-bottom-12{
    margin-bottom: 12px;
}

.margin-top-70{
    margin-top: 70px;
}


.monitor_ad_item .all_select_change {
    display: flex !important;
}

.all_slc_items {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: calc(50% - 20px);
    margin-top: 10px;
    cursor: pointer;
}

.all_slc {
    margin-right: 8px;
}

.all_unslc {
    margin-left: 8px;
}

.chb:hover{
    cursor: pointer;
}
.region {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}
.chb span{
    font-weight: 400;
    font-size: 16px;
    color: #444;
}
.region.sub_items {
    padding-left: 20px;
}
.region b {
    display: block;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    float: left;
    margin-right: 7px;
    position: absolute;
    left: 0;
}
/* .all_slc input:checked~span {
    background: #19BCBF;
    color: #fff;
}

.all_unslc input:checked~span {
    background: #b3b3b3;
    color: #fff;
} */
.all_slc span{
    background: #0014a7 !important;
    color: #fff !important;
}

.all_unslc span{
    background: #f0f0f0 !important;
    color: #666666;
}

.all_slc_items input {
    display: none !important;
}

.all_slc_items span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    border: 1px solid #e1e5ef;
    border-radius: 5px;
    background: #fff;
    font-size: 15px;
    line-height: 1.2;
    transition: all .3s ease;
}
.custom_select input{
    height: 34px;
    margin-top: 0;
    width: 100% !important;
}

.custom_select .select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #f0f0f0 !important;
    color: #666 !important;
}

.custom_select .select2 .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove{
    color: #666 !important;
}

.all_select_change {
    display: flex !important;
    justify-content: space-between;
}

.selectable {
    padding-left: 15px;
}

.selectable label {
    display: flex;
    align-items: center;
    width: 100%;
}

.country.checked::before {
    content: "";
    width: 14px;
    height: 14px;
    background: #005CC8;
    color: #fff;
    position: absolute;
    left: 0px;
    z-index: 4;
    border-radius: 4px;
    top: 7px;
}

.country {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.country.checked input::before {
    content: "";
    width: 6px;
    height: 0px;
    border: 0.1px solid white;
    position: absolute;
    left: 4px;
    z-index: 5;
    top: 6.5px;
}

.country input {
    position: relative;
}

.region{
    padding-left: 20px;
}

.region img {
    width: 15px;
    height: 15px;
    transition: 0.3s all ease-in-out;
}

.selectable {
    /* opacity: 0; */
    /* visibility: hidden; */
    /* position: absolute; */
    display: none;
}

.active .selectable {
    /* opacity: 1; */
    /* visibility: visible; */
    /* transform: translate(0); */
    /* position: relative; */
    transition: 0.3s all ease-in-out;
    display: block;
}

.active img {
    transform: rotate(90deg);
}

#selectionDisplay{
    max-height: 100px;
    overflow-y: scroll;
}

.selectedItem {
    right: 0;
    padding: 10px 20px;
    line-height: 24px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    transition: all .3s;
    border-radius: 4px;
    background: #f0f0f0;
    color: #666;
    text-align: center;
    border-radius: 8px;
    display: inline-flex;
    cursor: pointer;
    margin: 0 5px 5px 0;
    position: relative;
    padding-right: 25px;
    justify-content: center;
    align-items: center;
}

.selectedItem::after {
    content: "";
    position: absolute;
    right: 5px;
    background: url("/site/images/delete.svg?v1");
    width: 14px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
}

.pop-up {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all ease-in-out;
}

.pop-up.active_pop {
    opacity: 1;
    visibility: visible;
}

.pop {
    background: rgb(255, 255, 255);
    max-width: 400px;
    width: 100%;
    z-index: 9;
    max-height: 350px;
    border-radius: 8px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-select {
    overflow-y: scroll;
    max-width: 380px;
    max-height: 350px;
    width: 100%;
    margin: 10px 0;
    margin-left: 10px;
}
#selectionDisplay::-webkit-scrollbar,
.form-select::-webkit-scrollbar{
    width: 5px;
}
#selectionDisplay::-webkit-scrollbar-track,
.form-select::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 4px;
}
#selectionDisplay::-webkit-scrollbar-thumb,
.form-select::-webkit-scrollbar-thumb {
    background: #0014a7; 
    border-radius: 4px;
}

/* .drop{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.all_select_change {
    width: 100%;
}
/* .all_select_change label{
    transition: 0.3s all ease-in-out;
}
.all_select_change label:hover{
    background: #0014a7;
    color: #f0f0f0;
}
.all_select_change label:focus{
    outline: none;
    background: red;
} */

.pop-bg {
    background: #000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

input[type=checkbox]{
    max-width: 14px;
    width: 14px;
    height: 14px;
    box-shadow: none;
    margin-right: 7px;
}
#titlebar h1, #titlebar h2{
    text-align: center;
}
.variable-width a{
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 6px;
    align-items: center;
    flex-direction: column;
    border: 1px solid #EDEDED;
    padding: 22px 10px;
}
.category-text{
    height: 81px;
}
.variable-width img{
    width: 48px !important;
    height: 48px;
    transition: .3s ease;
}
.variable-width p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333;
}
.slick-initialized .slick-slide:hover{
    background: ghostwhite;
}
.slick-initialized .slick-slide.active{
    background: ghostwhite;
}
.buttons button{
    position: absolute;
    top: 25%;
    width: 48px;
    height: 48px;
    border-color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin: 0;
    margin-top: -3px;
    background-color: white;
    background-size: 25%;
    transition: 0.3s all ease-in-out;
}
button i{
    font-size: 30px;
}
.buttons button:hover{
    background: ghostwhite;
}
.buttons button:first-child{
    left: -20px;
}
.buttons button:last-child{
    right: 0;
}
.slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.professions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.professions p{
    max-width: 33%;
    width: 100%;
}
.professions p a{
    color: #333;
}